body {
    background-image: url("../images/GreenFeathers.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0;
   }
.grid {
    max-width: 1000px;
    display: grid;
    height:800px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "leftContent content content"
    ;
    justify-content: center;
    margin: 0 auto;
    }
.sideContent {
    grid-area: leftContent;
    }
.content {
    grid-area: content;
    padding-top: 30px;
    padding-left: 10px;
    }
.left {
    max-width: 250px;
    text-align: center;
    padding: 30px 30px 50px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 15px 15px;
}
#PhotoJennifer {
    width: 200px;
    margin-left: 10px;
}
ul {
    text-align: left;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #FCE0A5;
}
li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #FCE0A5;
    padding-bottom: 5px;
}
.SMLink {
    margin: 0 5px;
}
#LinkedIn {
    width: 50px;
    height: 50px;
    display: inline-block;
    background:transparent url('../images/GoldLinkedIn.png') center top no-repeat;
    background-size: cover;
}
#LinkedIn:hover {
    background-image: url('../images/GoldLinkedIn2.png');
    background-size: cover;
 }
 #behance {
    width: 50px;
    height: 50px;
    display: inline-block;
    background:transparent url('../images/GoldBehance.png') center top no-repeat;
    background-size: cover;
}
#behance:hover {
    background-image: url('../images/GoldBehance2.png');
    background-size: cover;
 }
 #dribbble {
    width: 50px;
    height: 50px;
    display: inline-block;
    background:transparent url('../images/GoldDribbble.png') center top no-repeat;
    background-size: cover;
}
#dribbble:hover {
    background-image: url('../images/GoldDribbble2.png');
    background-size: cover;
 }
#Name {
    max-width: 500px;
    width: 100%;
    height: auto;
    margin-top: 50px;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #FCE0A5;
    font-size: 20px;
    max-width: 500px;
    width: 100%;
    margin-top: 50px;
    line-height: 1.5;
}
.mobile {
    display: none;
}
@media only screen and (max-width: 500px) {
    .grid {
        display: none;
    }
    .mobile {
        display: block;
        text-align: center;
    }
    body {
        background-image: url("../images/GreenFeathers.png");
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 0;
        padding-top: 20px;
       }
    #PhotoJennifer {
        width: 200px;
        margin: 0px;
    }
    ul {
        text-align: left;
        max-width: 300px;
        margin: 0 auto 20px auto;
    }
    h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        color: #FCE0A5;
    }
    li {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        color: #FCE0A5;
        padding-bottom: 5px;
        max-width: 250px;
    }
    .SMLink {
        margin: 15px 5px;
    }
    .smimage {
        width: 50px;
    }
    .links {
        margin: 0 auto 20px auto;
    }
    #Name {
        max-width: 300px;
        margin-top: 0;
    }
    .paragraph {
        text-align: left;
        max-width: 300px;
        margin: 0 auto;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        color: #FCE0A5;
        font-size: 16px;
        margin-top: 20px;
        line-height: 1.5;
    }
}